@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.containers {
    background: linear-gradient(45deg, blueviolet, lightgreen);
    padding: 15px 9%;
    padding-bottom: 100px;
}

.containers .headings {
    text-align: center;
    padding-bottom: 15px;
    color: #fff;
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 25px;
}

.containers .box-containers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.containers .box-containers .boxs {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}

.containers .box-containers .boxs img {
    height: 150px;
}

/* .containers .box-containers .box h3 {
    color: #444;
    font-size: 22px;
    padding: 10px 0;
} */

.containers .box-containers .boxs p {
    color: #777;
    font-size: 15px;
    line-height: 1.8;
}

.containers .box-containers .boxs .btn {
    margin-top: 10px;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.containers .box-containers .boxs .btn:hover {
    letter-spacing: 1px;
}

.containers .box-containers .boxs:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);
}

@media (max-width:768px) {
    .containers {
        padding: 20px;
    }
}





/* special2 */
.offericon {
    position: relative;
    width: 83.59px;
    height: 39px;
    left: 80%;
    top: -15%;
    background: #F3280F;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.28px;
    color: #FFFFFF;
    padding-left: 5px;

}